identifier/Service References/Accountservice/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="com.misc.bis.behdad.service" name="AccountService" targetNamespace="com.misc.bis.behdad.service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="com.misc.bis.behdad.service" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="com.misc.bis.behdad.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="changePassword" type="tns:changePassword" />
      <xs:element name="changePasswordResponse" type="tns:changePasswordResponse" />
      <xs:element name="clearAccountControlType" type="tns:clearAccountControlType" />
      <xs:element name="clearAccountControlTypeResponse" type="tns:clearAccountControlTypeResponse" />
      <xs:element name="getAccountBalance" type="tns:getAccountBalance" />
      <xs:element name="getAccountBalanceResponse" type="tns:getAccountBalanceResponse" />
      <xs:element name="getAccountControlType" type="tns:getAccountControlType" />
      <xs:element name="getAccountControlTypeResponse" type="tns:getAccountControlTypeResponse" />
      <xs:element name="getAccountNumbers" type="tns:getAccountNumbers" />
      <xs:element name="getAccountNumbersResponse" type="tns:getAccountNumbersResponse" />
      <xs:element name="getBankTransactionsDetails" type="tns:getBankTransactionsDetails" />
      <xs:element name="getBankTransactionsDetailsResponse" type="tns:getBankTransactionsDetailsResponse" />
      <xs:element name="getMultipleAccountTransactionsDetails" type="tns:getMultipleAccountTransactionsDetails" />
      <xs:element name="getMultipleAccountTransactionsDetailsResponse" type="tns:getMultipleAccountTransactionsDetailsResponse" />
      <xs:element name="getPagedDestinationSideTransactions" type="tns:getPagedDestinationSideTransactions" />
      <xs:element name="getPagedDestinationSideTransactionsResponse" type="tns:getPagedDestinationSideTransactionsResponse" />
      <xs:element name="getPagedSourceSideTransactions" type="tns:getPagedSourceSideTransactions" />
      <xs:element name="getPagedSourceSideTransactionsResponse" type="tns:getPagedSourceSideTransactionsResponse" />
      <xs:element name="setAccountControlType" type="tns:setAccountControlType" />
      <xs:element name="setAccountControlTypeResponse" type="tns:setAccountControlTypeResponse" />
      <xs:complexType name="setAccountControlType">
        <xs:sequence>
          <xs:element minOccurs="0" name="credential" type="tns:credential" />
          <xs:element minOccurs="0" name="createModel" type="tns:accountControlCreateModel" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="credential">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountControlCreateModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="controlType" type="xs:string" />
          <xs:element minOccurs="0" name="identifierType" type="xs:string" />
          <xs:element minOccurs="0" name="toDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setAccountControlTypeResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="changePassword">
        <xs:sequence>
          <xs:element minOccurs="0" name="changePasswordRequest" type="tns:changePasswordRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="changePasswordRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="newPassword" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="changePasswordResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getAccountBalance">
        <xs:sequence>
          <xs:element minOccurs="0" name="credential" type="tns:credential" />
          <xs:element minOccurs="0" name="accountInfo" type="tns:accountInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountBalanceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:balanceInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balanceInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="credit" type="xs:decimal" />
          <xs:element minOccurs="0" name="monetary" type="xs:decimal" />
          <xs:element minOccurs="0" name="reportDate" type="xs:string" />
          <xs:element minOccurs="0" name="systemBlock" type="xs:decimal" />
          <xs:element minOccurs="0" name="userBlock" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPagedDestinationSideTransactions">
        <xs:sequence>
          <xs:element minOccurs="0" name="credential" type="tns:credential" />
          <xs:element minOccurs="0" name="sideTransactionsRequest" type="tns:sideTransactionsRequest" />
          <xs:element minOccurs="0" name="paging" type="tns:paging" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sideTransactionsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element name="transactionId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paging">
        <xs:sequence>
          <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
          <xs:element minOccurs="0" name="recordCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPagedDestinationSideTransactionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:pagedData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pagedData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="currentPageData" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
          <xs:element minOccurs="0" name="pageSize" type="xs:int" />
          <xs:element minOccurs="0" name="totalCount" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountTransactionInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="amount" type="xs:decimal" />
          <xs:element name="transactionId" type="xs:long" />
          <xs:element minOccurs="0" name="transactionIdentifier" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBankTransactionsDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="credential" type="tns:credential" />
          <xs:element minOccurs="0" name="filter" type="tns:accountTransactionFilter" />
          <xs:element minOccurs="0" name="paging" type="tns:paging" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountTransactionFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="fromDateTime" type="xs:string" />
          <xs:element minOccurs="0" name="paymentIdentifier" type="xs:string" />
          <xs:element minOccurs="0" name="toDateTime" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBankTransactionsDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:pagedData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bankTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="balance" type="xs:decimal" />
          <xs:element minOccurs="0" name="cardNumber" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="destinationAccountNumber" type="xs:string" />
          <xs:element name="groupTransfer" type="xs:boolean" />
          <xs:element minOccurs="0" name="iban" type="xs:string" />
          <xs:element minOccurs="0" name="sourceAccountNumber" type="xs:string" />
          <xs:element minOccurs="0" name="traceNumber" type="xs:string" />
          <xs:element minOccurs="0" name="transactionDate" type="xs:string" />
          <xs:element minOccurs="0" name="transactionId" type="xs:long" />
          <xs:element minOccurs="0" name="transactionIdentifier" type="xs:string" />
          <xs:element minOccurs="0" name="transactionMediaSerial" type="xs:string" />
          <xs:element minOccurs="0" name="transactionMediaType" type="xs:string" />
          <xs:element minOccurs="0" name="transactionMethod" type="xs:string" />
          <xs:element minOccurs="0" name="transactionStatusDate" type="xs:string" />
          <xs:element minOccurs="0" name="transactionStatusTime" type="xs:string" />
          <xs:element minOccurs="0" name="transactionStatusType" type="xs:string" />
          <xs:element minOccurs="0" name="transactionTime" type="xs:string" />
          <xs:element minOccurs="0" name="transactionType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPagedSourceSideTransactions">
        <xs:sequence>
          <xs:element minOccurs="0" name="credential" type="tns:credential" />
          <xs:element minOccurs="0" name="sideTransactionsRequest" type="tns:sideTransactionsRequest" />
          <xs:element minOccurs="0" name="paging" type="tns:paging" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPagedSourceSideTransactionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:pagedData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountControlType">
        <xs:sequence>
          <xs:element minOccurs="0" name="credential" type="tns:credential" />
          <xs:element minOccurs="0" name="accountInfo" type="tns:accountInfo" />
          <xs:element minOccurs="0" name="identifierType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountControlTypeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMultipleAccountTransactionsDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="credential" type="tns:credential" />
          <xs:element minOccurs="0" name="filter" type="tns:multipleAccountTransactionFilter" />
          <xs:element minOccurs="0" name="paging" type="tns:paging" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="multipleAccountTransactionFilter">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="accountNumbers" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fromDateTime" type="xs:string" />
          <xs:element minOccurs="0" name="paymentIdentifier" type="xs:string" />
          <xs:element minOccurs="0" name="toDateTime" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMultipleAccountTransactionsDetailsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:pagedData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="clearAccountControlType">
        <xs:sequence>
          <xs:element minOccurs="0" name="credential" type="tns:credential" />
          <xs:element minOccurs="0" name="accountInfo" type="tns:accountInfo" />
          <xs:element minOccurs="0" name="identifierType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="clearAccountControlTypeResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getAccountNumbers">
        <xs:sequence>
          <xs:element minOccurs="0" name="credential" type="tns:credential" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountNumbersResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:accountInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidCredentialException" type="tns:InvalidCredentialException" />
      <xs:complexType name="InvalidCredentialException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UnableToAuthenticateException" type="tns:UnableToAuthenticateException" />
      <xs:complexType name="UnableToAuthenticateException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UserTemporarilySuspendedException" type="tns:UserTemporarilySuspendedException" />
      <xs:complexType name="UserTemporarilySuspendedException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidIdentifierControlTypeException" type="tns:InvalidIdentifierControlTypeException" />
      <xs:complexType name="InvalidIdentifierControlTypeException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidIdentifierTypeException" type="tns:InvalidIdentifierTypeException" />
      <xs:complexType name="InvalidIdentifierTypeException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidDateException" type="tns:InvalidDateException" />
      <xs:complexType name="InvalidDateException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PasswordIsNotStrongException" type="tns:PasswordIsNotStrongException" />
      <xs:complexType name="PasswordIsNotStrongException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UnableToChangePasswordException" type="tns:UnableToChangePasswordException" />
      <xs:complexType name="UnableToChangePasswordException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidPageNumberException" type="tns:InvalidPageNumberException" />
      <xs:complexType name="InvalidPageNumberException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidTransactionTypeException" type="tns:InvalidTransactionTypeException" />
      <xs:complexType name="InvalidTransactionTypeException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InvalidPageSizeException" type="tns:InvalidPageSizeException" />
      <xs:complexType name="InvalidPageSizeException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="TransactionDoesNotBelongToAccount" type="tns:TransactionDoesNotBelongToAccount" />
      <xs:complexType name="TransactionDoesNotBelongToAccount">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PageSizeIsTooMuchException" type="tns:PageSizeIsTooMuchException" />
      <xs:complexType name="PageSizeIsTooMuchException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="UnableToGetTransactionsException" type="tns:UnableToGetTransactionsException" />
      <xs:complexType name="UnableToGetTransactionsException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="TooMuchAccountsException" type="tns:TooMuchAccountsException" />
      <xs:complexType name="TooMuchAccountsException">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="InvalidCredentialException">
    <wsdl:part name="InvalidCredentialException" element="ns1:InvalidCredentialException" />
  </wsdl:message>
  <wsdl:message name="setAccountControlTypeResponse">
    <wsdl:part name="parameters" element="ns1:setAccountControlTypeResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountBalance">
    <wsdl:part name="parameters" element="ns1:getAccountBalance" />
  </wsdl:message>
  <wsdl:message name="getPagedDestinationSideTransactions">
    <wsdl:part name="parameters" element="ns1:getPagedDestinationSideTransactions" />
  </wsdl:message>
  <wsdl:message name="getAccountBalanceResponse">
    <wsdl:part name="parameters" element="ns1:getAccountBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="getPagedSourceSideTransactions">
    <wsdl:part name="parameters" element="ns1:getPagedSourceSideTransactions" />
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part name="parameters" element="ns1:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidIdentifierControlTypeException">
    <wsdl:part name="InvalidIdentifierControlTypeException" element="ns1:InvalidIdentifierControlTypeException" />
  </wsdl:message>
  <wsdl:message name="getPagedDestinationSideTransactionsResponse">
    <wsdl:part name="parameters" element="ns1:getPagedDestinationSideTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="PageSizeIsTooMuchException">
    <wsdl:part name="PageSizeIsTooMuchException" element="ns1:PageSizeIsTooMuchException" />
  </wsdl:message>
  <wsdl:message name="getAccountControlTypeResponse">
    <wsdl:part name="parameters" element="ns1:getAccountControlTypeResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidPageNumberException">
    <wsdl:part name="InvalidPageNumberException" element="ns1:InvalidPageNumberException" />
  </wsdl:message>
  <wsdl:message name="UnableToAuthenticateException">
    <wsdl:part name="UnableToAuthenticateException" element="ns1:UnableToAuthenticateException" />
  </wsdl:message>
  <wsdl:message name="getBankTransactionsDetailsResponse">
    <wsdl:part name="parameters" element="ns1:getBankTransactionsDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getPagedSourceSideTransactionsResponse">
    <wsdl:part name="parameters" element="ns1:getPagedSourceSideTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidTransactionTypeException">
    <wsdl:part name="InvalidTransactionTypeException" element="ns1:InvalidTransactionTypeException" />
  </wsdl:message>
  <wsdl:message name="InvalidPageSizeException">
    <wsdl:part name="InvalidPageSizeException" element="ns1:InvalidPageSizeException" />
  </wsdl:message>
  <wsdl:message name="UnableToGetTransactionsException">
    <wsdl:part name="UnableToGetTransactionsException" element="ns1:UnableToGetTransactionsException" />
  </wsdl:message>
  <wsdl:message name="getMultipleAccountTransactionsDetailsResponse">
    <wsdl:part name="parameters" element="ns1:getMultipleAccountTransactionsDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UserTemporarilySuspendedException">
    <wsdl:part name="UserTemporarilySuspendedException" element="ns1:UserTemporarilySuspendedException" />
  </wsdl:message>
  <wsdl:message name="getMultipleAccountTransactionsDetails">
    <wsdl:part name="parameters" element="ns1:getMultipleAccountTransactionsDetails" />
  </wsdl:message>
  <wsdl:message name="InvalidIdentifierTypeException">
    <wsdl:part name="InvalidIdentifierTypeException" element="ns1:InvalidIdentifierTypeException" />
  </wsdl:message>
  <wsdl:message name="PasswordIsNotStrongException">
    <wsdl:part name="PasswordIsNotStrongException" element="ns1:PasswordIsNotStrongException" />
  </wsdl:message>
  <wsdl:message name="setAccountControlType">
    <wsdl:part name="parameters" element="ns1:setAccountControlType" />
  </wsdl:message>
  <wsdl:message name="changePassword">
    <wsdl:part name="parameters" element="ns1:changePassword" />
  </wsdl:message>
  <wsdl:message name="TooMuchAccountsException">
    <wsdl:part name="TooMuchAccountsException" element="ns1:TooMuchAccountsException" />
  </wsdl:message>
  <wsdl:message name="getAccountNumbersResponse">
    <wsdl:part name="parameters" element="ns1:getAccountNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="getBankTransactionsDetails">
    <wsdl:part name="parameters" element="ns1:getBankTransactionsDetails" />
  </wsdl:message>
  <wsdl:message name="clearAccountControlTypeResponse">
    <wsdl:part name="parameters" element="ns1:clearAccountControlTypeResponse" />
  </wsdl:message>
  <wsdl:message name="UnableToChangePasswordException">
    <wsdl:part name="UnableToChangePasswordException" element="ns1:UnableToChangePasswordException" />
  </wsdl:message>
  <wsdl:message name="TransactionDoesNotBelongToAccount">
    <wsdl:part name="TransactionDoesNotBelongToAccount" element="ns1:TransactionDoesNotBelongToAccount" />
  </wsdl:message>
  <wsdl:message name="getAccountControlType">
    <wsdl:part name="parameters" element="ns1:getAccountControlType" />
  </wsdl:message>
  <wsdl:message name="clearAccountControlType">
    <wsdl:part name="parameters" element="ns1:clearAccountControlType" />
  </wsdl:message>
  <wsdl:message name="InvalidDateException">
    <wsdl:part name="InvalidDateException" element="ns1:InvalidDateException" />
  </wsdl:message>
  <wsdl:message name="getAccountNumbers">
    <wsdl:part name="parameters" element="ns1:getAccountNumbers" />
  </wsdl:message>
  <wsdl:portType name="AccountService">
    <wsdl:operation name="setAccountControlType">
      <wsdl:input name="setAccountControlType" message="ns1:setAccountControlType" />
      <wsdl:output name="setAccountControlTypeResponse" message="ns1:setAccountControlTypeResponse" />
      <wsdl:fault name="InvalidIdentifierTypeException" message="ns1:InvalidIdentifierTypeException" />
      <wsdl:fault name="InvalidIdentifierControlTypeException" message="ns1:InvalidIdentifierControlTypeException" />
      <wsdl:fault name="InvalidDateException" message="ns1:InvalidDateException" />
      <wsdl:fault name="PasswordIsNotStrongException" message="ns1:PasswordIsNotStrongException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="UserTemporarilySuspendedException" message="ns1:UserTemporarilySuspendedException" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input name="changePassword" message="ns1:changePassword" />
      <wsdl:output name="changePasswordResponse" message="ns1:changePasswordResponse" />
      <wsdl:fault name="PasswordIsNotStrongException" message="ns1:PasswordIsNotStrongException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="UnableToChangePasswordException" message="ns1:UnableToChangePasswordException" />
      <wsdl:fault name="UserTemporarilySuspendedException" message="ns1:UserTemporarilySuspendedException" />
    </wsdl:operation>
    <wsdl:operation name="getAccountBalance">
      <wsdl:input name="getAccountBalance" message="ns1:getAccountBalance" />
      <wsdl:output name="getAccountBalanceResponse" message="ns1:getAccountBalanceResponse" />
      <wsdl:fault name="PasswordIsNotStrongException" message="ns1:PasswordIsNotStrongException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="UserTemporarilySuspendedException" message="ns1:UserTemporarilySuspendedException" />
    </wsdl:operation>
    <wsdl:operation name="getPagedDestinationSideTransactions">
      <wsdl:input name="getPagedDestinationSideTransactions" message="ns1:getPagedDestinationSideTransactions" />
      <wsdl:output name="getPagedDestinationSideTransactionsResponse" message="ns1:getPagedDestinationSideTransactionsResponse" />
      <wsdl:fault name="TransactionDoesNotBelongToAccount" message="ns1:TransactionDoesNotBelongToAccount" />
      <wsdl:fault name="PasswordIsNotStrongException" message="ns1:PasswordIsNotStrongException" />
      <wsdl:fault name="PageSizeIsTooMuchException" message="ns1:PageSizeIsTooMuchException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="InvalidPageNumberException" message="ns1:InvalidPageNumberException" />
      <wsdl:fault name="InvalidTransactionTypeException" message="ns1:InvalidTransactionTypeException" />
      <wsdl:fault name="InvalidPageSizeException" message="ns1:InvalidPageSizeException" />
      <wsdl:fault name="UserTemporarilySuspendedException" message="ns1:UserTemporarilySuspendedException" />
    </wsdl:operation>
    <wsdl:operation name="getBankTransactionsDetails">
      <wsdl:input name="getBankTransactionsDetails" message="ns1:getBankTransactionsDetails" />
      <wsdl:output name="getBankTransactionsDetailsResponse" message="ns1:getBankTransactionsDetailsResponse" />
      <wsdl:fault name="InvalidDateException" message="ns1:InvalidDateException" />
      <wsdl:fault name="PasswordIsNotStrongException" message="ns1:PasswordIsNotStrongException" />
      <wsdl:fault name="PageSizeIsTooMuchException" message="ns1:PageSizeIsTooMuchException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="InvalidPageNumberException" message="ns1:InvalidPageNumberException" />
      <wsdl:fault name="InvalidPageSizeException" message="ns1:InvalidPageSizeException" />
      <wsdl:fault name="UnableToGetTransactionsException" message="ns1:UnableToGetTransactionsException" />
      <wsdl:fault name="UserTemporarilySuspendedException" message="ns1:UserTemporarilySuspendedException" />
    </wsdl:operation>
    <wsdl:operation name="getPagedSourceSideTransactions">
      <wsdl:input name="getPagedSourceSideTransactions" message="ns1:getPagedSourceSideTransactions" />
      <wsdl:output name="getPagedSourceSideTransactionsResponse" message="ns1:getPagedSourceSideTransactionsResponse" />
      <wsdl:fault name="TransactionDoesNotBelongToAccount" message="ns1:TransactionDoesNotBelongToAccount" />
      <wsdl:fault name="PasswordIsNotStrongException" message="ns1:PasswordIsNotStrongException" />
      <wsdl:fault name="PageSizeIsTooMuchException" message="ns1:PageSizeIsTooMuchException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="InvalidPageNumberException" message="ns1:InvalidPageNumberException" />
      <wsdl:fault name="InvalidTransactionTypeException" message="ns1:InvalidTransactionTypeException" />
      <wsdl:fault name="InvalidPageSizeException" message="ns1:InvalidPageSizeException" />
      <wsdl:fault name="UserTemporarilySuspendedException" message="ns1:UserTemporarilySuspendedException" />
    </wsdl:operation>
    <wsdl:operation name="getAccountControlType">
      <wsdl:input name="getAccountControlType" message="ns1:getAccountControlType" />
      <wsdl:output name="getAccountControlTypeResponse" message="ns1:getAccountControlTypeResponse" />
      <wsdl:fault name="InvalidIdentifierTypeException" message="ns1:InvalidIdentifierTypeException" />
      <wsdl:fault name="PasswordIsNotStrongException" message="ns1:PasswordIsNotStrongException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="UserTemporarilySuspendedException" message="ns1:UserTemporarilySuspendedException" />
    </wsdl:operation>
    <wsdl:operation name="getMultipleAccountTransactionsDetails">
      <wsdl:input name="getMultipleAccountTransactionsDetails" message="ns1:getMultipleAccountTransactionsDetails" />
      <wsdl:output name="getMultipleAccountTransactionsDetailsResponse" message="ns1:getMultipleAccountTransactionsDetailsResponse" />
      <wsdl:fault name="InvalidDateException" message="ns1:InvalidDateException" />
      <wsdl:fault name="PasswordIsNotStrongException" message="ns1:PasswordIsNotStrongException" />
      <wsdl:fault name="PageSizeIsTooMuchException" message="ns1:PageSizeIsTooMuchException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="InvalidPageNumberException" message="ns1:InvalidPageNumberException" />
      <wsdl:fault name="InvalidPageSizeException" message="ns1:InvalidPageSizeException" />
      <wsdl:fault name="UnableToGetTransactionsException" message="ns1:UnableToGetTransactionsException" />
      <wsdl:fault name="UserTemporarilySuspendedException" message="ns1:UserTemporarilySuspendedException" />
      <wsdl:fault name="TooMuchAccountsException" message="ns1:TooMuchAccountsException" />
    </wsdl:operation>
    <wsdl:operation name="clearAccountControlType">
      <wsdl:input name="clearAccountControlType" message="ns1:clearAccountControlType" />
      <wsdl:output name="clearAccountControlTypeResponse" message="ns1:clearAccountControlTypeResponse" />
      <wsdl:fault name="InvalidIdentifierTypeException" message="ns1:InvalidIdentifierTypeException" />
      <wsdl:fault name="PasswordIsNotStrongException" message="ns1:PasswordIsNotStrongException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="UserTemporarilySuspendedException" message="ns1:UserTemporarilySuspendedException" />
    </wsdl:operation>
    <wsdl:operation name="getAccountNumbers">
      <wsdl:input name="getAccountNumbers" message="ns1:getAccountNumbers" />
      <wsdl:output name="getAccountNumbersResponse" message="ns1:getAccountNumbersResponse" />
      <wsdl:fault name="PasswordIsNotStrongException" message="ns1:PasswordIsNotStrongException" />
      <wsdl:fault name="UnableToAuthenticateException" message="ns1:UnableToAuthenticateException" />
      <wsdl:fault name="InvalidCredentialException" message="ns1:InvalidCredentialException" />
      <wsdl:fault name="UserTemporarilySuspendedException" message="ns1:UserTemporarilySuspendedException" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>